name: universal_breakpoints_example
description: "A comprehensive example app showcasing all features of the universal_breakpoints package."
publish_to: 'none'

version: 0.0.1+1

environment:
  sdk: ^3.7.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  universal_breakpoints:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
